.Youtube {
	background-color: #bbb;

	article {
		width: 80%;
		padding: 20px;
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		margin-bottom: 80px;
		border: 5px solid #fff;
		background-color: #000;
		cursor: pointer;
		transition: 0.5s;
		margin-left: 110px;

		&:hover {
			opacity: 0.5;
			transform: translateY(0.8px);
			transform: scale(1.1);
		}

		.titBox {
			margin-top: 120px;
			width: 25%;
			color: #fff;
		}
		.conBox {
			width: 40%;
			color: #fff;

			p {
				margin-top: 35px;
				margin-bottom: 30px;
			}
		}
		.picBox {
			width: 30%;
			height: 100%;
			overflow: hidden;
			img {
				width: 100%;
				height: 40%;
				object-fit: cover;
			}
		}
	}
}
.tablet {
	.Youtube {
		article {
			flex-wrap: wrap;
			&:hover {
				opacity: 0.5;
				transform: translateY(0.8px);
				transform: scale(1.1);
			}

			.titBox {
			}
			.conBox {
				p {
				}
			}
			.picBox {
				img {
				}
			}
		}
	}
}
