.visual {
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
	justify-content: space-between;

	.titBox {
		width: 40%;
		height: 100%;
		transform: translateX(15vw);
		padding: 10vw 0;

		ul {
			li {
				position: absolute;
				top: 20%;
				left: 0;
				padding-top: 5vh;
				font-size: 2.5vmax;
				z-index: 1;

				h3 {
					transform: translateX(-200px) scale(1.5);
					opacity: 0;
					transition: 0.8s;
				}

				p {
					font: 1rem/1.2 'arial';
					color: #777;
					margin-top: 20px;
					transition: 1s 0.2s;
					opacity: 0;
					transform: translateX(-200px);
				}

				button {
					background: transparent;
					border: none;
					display: inline-block;
					padding: 20px 30px;
					font-size: 1rem;
					font-weight: bold;
					margin-top: 10vh;
					position: relative;
					text-indent: -50px;
					opacity: 0;
					transition: 1s 0.4s;
					color: transparent;

					&::before {
						content: '';
						display: block;
						width: 400%;
						height: 1px;
						background: #999;
						position: absolute;
						top: 0;
						right: -200px;
						opacity: 0;
						transition: 0.5s 0.5s;
					}
					&::after {
						content: '';
						display: block;
						width: 400%;
						height: 1px;
						background: #999;
						position: absolute;
						bottom: 0;
						left: -200px;
						opacity: 0;
						transition: 0.5s 0.7s;
					}
				}

				&.on {
					z-index: 2;
					h3 {
						transform: translateX(0px) scale(1);
						opacity: 1;
					}
					p {
						transform: translateX(0px);
						opacity: 0.7;
					}

					button {
						text-indent: 0px;
						color: #777;
						opacity: 1;
						&::before,
						&::after {
							width: 100%;
							opacity: 1;
							left: 0;
							right: 0;
						}
					}
				}
			}
		}
	}

	.swiper {
		display: inline-block;
		width: 80%;
		height: 100%;
		padding: 10vw 100px;

		.swiper-slide {
			width: 100%;
			height: 100%;

			.pic {
				width: 100%;
				height: 100%;
				opacity: 0.4;
				transform: scale(0.5);
				transition: opacity 0.5s, transform 0.5s;
				position: relative;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					position: absolute;
					top: 0;
					left: 0;

					&:nth-of-type(1) {
						filter: blur(30px) saturate(120%);
						transform: translate(20px, 20px);
						opacity: 0.8;
					}
				}
			}

			h2 {
				display: none;
			}
		}

		.swiper-slide-prev {
			.pic {
				transform: scale(1.5);
				opacity: 0;
			}
		}
		.swiper-slide-active {
			.pic {
				transform: scale(1);
				opacity: 1;
			}
		}
		.swiper-slide-next {
			.pic {
				transform: scale(0.7);
				opacity: 0.7;
			}
		}
	}
}

.tablet,
.mobile {
	.visual {
		.titBox {
			display: none;
		}

		.swiper {
			width: 100%;
			padding: 15vw 0;

			.swiper-slide {
				.pic {
					width: 80vw;
					margin: 0px auto;
					height: 60%;
					margin-bottom: 50px;
				}
				h2 {
					display: block;
					width: 80vw;
					margin: 0px auto;
					font-size: 1.5rem;
				}
			}
		}
	}
}
