.visual {
	width: 100%;
	height: calc(100vh - 90px);
	display: flex;
	justify-content: space-between;

	.titBox {
		width: 40%;
		height: 100%;
		transform: translateX(15vw);
		padding: 10vw 0;

		ul {
			li {
				position: absolute;
				top: 20%;
				left: 0;
				padding-top: 5vh;
				font-size: 3rem;
				opacity: 0;
				transform: translateY(-100px) scale(1.5);
				transition: opacity 0.5s, transform 0.5s;

				p {
					font: 1rem/1.2 'arial';
					color: #777;
					margin-top: 20px;
				}

				button {
					background: transparent;
					border: none;
					display: inline-block;
					padding: 10px 10px;
					font-size: 1rem;
					margin-top: 10vh;
					position: relative;
					text-indent: -50px;
					opacity: 0;
					transition: 0.5s;

					&::before {
						content: '';
						display: block;
						width: 200%;
						height: 1px;
						background: #888;
						position: absolute;
						top: 0;
						right: -100px;
						opacity: 0;
						transition: 0.5s 0.5s;
					}
					&::after {
						content: '';
						display: block;
						width: 200%;
						height: 1px;
						background: #888;
						position: absolute;
						bottom: 0;
						left: -100px;
						opacity: 0;
						transition: 0.5s 0.7s;
					}
				}

				&.on {
					opacity: 1;
					transform: translateY(0px) scale(1);

					button {
						text-indent: 0px;
						opacity: 1;
						&::before,
						&::after {
							width: 100%;
							opacity: 1;
							left: 0;
							right: 0;
						}
					}
				}
			}
		}
	}

	.swiper {
		display: inline-block;
		width: 80%;
		height: 100%;
		padding: 10vw 0px;

		.swiper-slide {
			width: 100%;
			height: 100%;

			.pic {
				width: 100%;
				height: 100%;
				opacity: 0.4;
				transform: scale(0.5);
				transition: opacity 0.5s, transform 0.5s;
				position: relative;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					position: absolute;
					top: 0;
					left: 0;

					&:nth-of-type(1) {
						filter: blur(30px) saturate(120%);
						transform: translate(40px, 40px);
						opacity: 0.7;
					}
				}
			}
		}

		.swiper-slide-prev {
			.pic {
				transform: scale(1.5);
				opacity: 0;
			}
		}
		.swiper-slide-active {
			.pic {
				transform: scale(1);
				opacity: 1;
			}
		}
		.swiper-slide-next {
			.pic {
				transform: scale(0.7);
				opacity: 0.7;
			}
		}
	}
}

.tablet,
.mobile {
	.visual {
		.titBox {
			display: none;
			width: 70vw;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 3;

			ul li {
				padding: 50px;
				h3 {
					font-size: 2rem;
				}
				p {
					display: none;
				}
			}
		}

		.swiper {
			width: 100%;
			padding: 10vw 15vw;
		}
	}
}
