@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.layout {
	width: 100%;

	figure {
		width: 100%;
		height: 30vh;
		background: gray;
		opacity: 0;
		transition: 1s 0s;
	}

	.content {
		width: 80vw;
		margin: 5vh auto;
		min-height: 60vh;
		transform: translateX(100px);
		opacity: 0;
		transition: transform 1s 0.5s, opacity 1s 0.5s;

		h1 {
			font: normal 100px/1 'Nanum Myeongjo';
			color: violet;
			margin-bottom: 30px;

			span {
				display: inline-block;
				opacity: 0;
				transform: scale(3);
				transition-duration: 0.5s;
			}
		}
	}

	&.on {
		figure {
			opacity: 1;
		}
		.content {
			opacity: 1;
			transform: translateX(0px);

			h1 {
				span {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
}
