* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	background: #efefef;
}
html {
	&::-webkit-scrollbar {
		width: 20px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: #333;
	}
}
.root {
	--tablet: 1190px;
}
