.Department {
	.memberBox {
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		margin-left: 100px;

		article {
			width: 30%;
			margin-bottom: 100px;

			&:nth-of-type(1) {
				border-right: 1px solid black;
			}
			&:nth-of-type(2) {
				border-right: 1px solid black;
			}
			&:nth-of-type(4) {
				border-right: 1px solid black;
			}
			&:nth-of-type(5) {
				border-right: 1px solid black;
			}

			.pic {
				width: 100%;
				position: relative;

				img {
					width: 70%;
					height: 30vh;
					object-fit: cover;
					filter: grayscale(80%);

					&:nth-of-type(1) {
						filter: blur(20px) saturate(1.3);
						opacity: 0;
						position: absolute;
						top: 0;
					}
					&:nth-of-type(2) {
						filter: saturate(0);
					}
				}
				&:hover {
					img:nth-of-type(1) {
						opacity: 0.5;
						transform: translateY(5%);
					}
					img:nth-of-type(2) {
						filter: saturate(1);
					}
				}
			}

			h2 {
			}
			p {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}

//
.tablet,
.mobile {
	.Department {
		.memberBox {
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: space-around;
		}
	}
}
