.Communtiy {
	.content {
		.inputBox {
			width: 100%;
			border: 1px solid #ddd;
			padding: 50px;
			margin-bottom: 50px;

			input[type='text'],
			textarea {
				width: 50%;
				padding: 8px 10px;
				border: 1px solid #aaa;
				resize: none;
				margin-bottom: 10px;
				background-color: #f0fdff;
			}

			.btnSet {
				button {
					width: 150px;
					height: 30px;
					display: inline-block;
					border: none;
					background: #555;
					margin-right: 20px;
					color: #fff;
					cursor: pointer;
				}
			}
		}
	}
}
