.Community {
	background-color: #e1e1e1;
	.content {
		.inputBox {
			width: 100%;
			border-bottom: 1px solid #aaa;
			border-top: 1px solid #aaa;
			padding: 50px;
			margin-bottom: 50px;
			background-color: #fff;

			input[type='text'],
			textarea {
				border: none;
				width: 50%;
				padding: 8px 10px;
				border-bottom: 1px solid #aaa;
				resize: none;
				margin-bottom: 10px;
				background: #efefef;
			}

			.btnSet {
				button {
					width: 150px;
					height: 30px;
					display: inline-block;
					border: none;
					background: #555;
					margin-left: 70px;
					color: #fff;
					cursor: pointer;
				}
			}
		}

		.showBox {
			width: 100%;
			border: 1px solid #aaa;
			padding-left: 20px;
			margin-top: 20px;
			background-color: #ffffff;
			display: flex;
			flex-wrap: wrap;

			article {
				height: 15vw;
				background: #ffffff;
				padding: 30px;
				margin-top: 20px;
				margin-bottom: 20px;
				margin-right: 20px;
				display: flex;
				justify-content: center;
				border: 1px solid #000;
				cursor: pointer;
				transition: 0.5s;

				&:hover {
					opacity: 0.5;
					transform: translateY(0.8px);
					transform: scale(1.02);
				}

				.txt {
					width: 88%;
					h2 {
						margin-bottom: 10px;
					}

					input[type='text'],
					textarea {
						width: 50%;
						padding: 8px 10px;
						border: 1px solid #aaa;
						resize: none;
						margin-bottom: 10px;
						background: #efefef;
					}
				}
				.btnSet {
					display: flex;
					flex-wrap: wrap;
					margin-top: 150px;
					gap: 20%;
					button {
						border: none;
						background: transparent;
						cursor: pointer;
						&:nth-of-type(1) {
							color: orange;
						}
						&:nth-of-type(2) {
							color: orangered;
						}
					}
				}
			}
		}
	}
}
