.Contact {
	#mailBox {
		display: flex;
		flex-wrap: wrap;
		align-content: space-around;
		border: 1px solid #000;
		width: 50%;
		margin-bottom: 100px;

		.upper {
			width: 100%;
			margin-bottom: 50px;

			span {
				width: 48%;
				display: flex;
				flex-wrap: wrap;

				label {
					display: flex;
					font: bold 1rem/1 'arial';
					color: #555;
					margin-right: 20px;
					margin-left: 5px;
					position: relative;
					top: 8px;
				}
				input[type='text'],
				input[type='email'] {
					width: 1250px;
					margin-top: 10px;
					border: none;
					padding: 10px 20px;
					border: 1px solid #555;
					margin-right: 50px;
					margin-left: 5px;
					outline: none;
					transition: 0.5s;

					&:focus {
						background: lightcyan;
					}
				}
			}
		}
		.lower {
			width: 100%;
			margin-bottom: 10px;

			label {
				display: block;
				margin-bottom: 5px;
				margin-left: 5px;
				font: bold 1rem/1 'arial';
				color: #555;
			}
			textarea {
				width: 576px;
				padding: 10px;
				border: none;
				border: 1px solid #000;
				margin-right: 50px;
				margin-left: 5px;
				resize: none;
				outline: none;
				transition: 0.5s;
				&:focus {
					background: lightcyan;
				}
			}
		}

		.btnSet {
			width: 46%;
			padding-right: 20px;
			display: flex;
			justify-content: right;

			input {
				margin: 5px;
				padding: 5px;
				display: block;
				height: 40px;
				background: transparent;
				border: 1px solid #666;
				font: 1rem/40px 'arial';
				color: #555;
				text-align: center;
				background-color: rgb(232, 189, 110);
			}
		}
	}

	.container {
		width: 100%;
		height: 50vh;
		// background: #111;
		position: relative;

		.map,
		.view {
			width: 100%;
			height: 50vh;
			background: #111;
			position: absolute;
			top: 0;
			left: 0px;
			opacity: 0;
			z-index: 1;

			&.on {
				opacity: 1;
				z-index: 2;
			}
		}
	}

	ul {
		display: flex;
		gap: 20px;

		li {
			cursor: pointer;
		}
		li.on {
			color: hotpink;
		}
	}
	.FAQ {
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: center;
	}
}

@media screen and (max-width: 1399px) {
	.Contact {
		#mailBox {
			width: 100%;
		}
	}
}
