footer {
	width: 70vw;
	margin: 0px auto;
	padding: 60px 0;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #555;

	h1 {
		display: flex;
		align-items: center;
		font: bold 1.5rem/1 'nanum myeongjo';
		opacity: 0.9;
	}
	p {
		font: normal 1rem/1 'nanum myeongjo';
		opacity: 0.9;
	}

	ul {
		display: flex;
		gap: 30px;
		opacity: 0.8;
	}
}
